@page
@model ForgotPasswordModel


<h1>@ViewData["Title"]</h1>

<div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                    <div class="d-flex justify-content-center py-4">
                        <a href="/Home/Index" class="logo d-flex align-items-center w-auto">
                            <img src="~/assets/img/engineer/logo22.png" alt="">
                            <span class="d-none d-lg-block">مسعود للأستشارات الهندسية</span>
                        </a>
                    </div><!-- End Logo -->
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">استعاده الحساب</h5>
                                <p class="text-center small">من فضلك ادخل بريدك الالكتروني من اجل التحقق بأنه حسابك</p>
                            </div>
                            <form class="row g-3 needs-validation" novalidate="" method="post">
                                <div class="col-12">
                                    <label for="yourEmail" class="form-label">ادخل بريدك الإلكتروني</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrepend">@@</span>
                                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                    </div>
                                    <div class="invalid-feedback">من فضلك، أدخل عنوان بريدك الالكتروني بشكل صحيح!</div>
                                    <div class="col-12">
                                        <button style="margin-top: 40px;" type="submit" class="w-100 btn btn-lg btn-primary">إعادة تعيين كلمة المرور</button>
                                    </div>
                            </form>
                        </div>
                    </div>           
                </div>
            </div>
        </div>
    </section>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
