<section id="about" class="about section">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="section-title">
            <h2>عنا</h2>
            <p>من نحن؟</p>
        </div>
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                    <img src="~/assets/img/about2.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
                    <h3>مكتب هندسي متخصص في تقديم الحلول الهندسية</h3>
                    <hr />
                    <ul>
                        <li><i class="ri-check-double-line"></i> نحن مكتب هندسي متخصص يقدم حلولاً هندسية متكاملة ومبتكرة في مجالات متعددة، مع التركيز على الهندسة المعمارية والهندسة المدنية وتصميم الديكور.</li>
                        <li><i class="ri-check-double-line"></i> تأسس مكتبنا في عام 2014، ومنذ ذلك الحين نمتلك سجلًا حافلًا من المشاريع الناجحة والعملاء الراضين. فريقنا مكون من مهندسين استشاريين ذوي خبرة وكفاءة عالية في مجالات متنوعة من الهندسة.</li>
                        <li><i class="ri-check-double-line"></i> نحن نسعى جاهدين لتقديم أفضل الحلول التي تلبي احتياجات عملائنا وتتجاوز توقعاتهم. نهدف إلى تحقيق أهدافك وتحويل أفكارك إلى واقع ملموس، سواء كنت تخطط لبناء مبنى، أو تجديد مساحة، أو تنفيذ مشروع هندسي معقد.</li>
                        <li><i class="ri-check-double-line"></i> بفخر نقدم خدماتنا لعملاء داخل مصر ومناطق أخرى بما في ذلك الخليج العربي. قمنا بتنفيذ مجموعة متنوعة من المشاريع، بدءًا من المباني السكنية وصولاً إلى المشاريع التجارية والصناعية والبنية التحتية.</li>
                    </ul>
                    <br />
                    <p>
                        إذا كنت تبحث عن مكتب هندسي يقدم الجودة والتميز في الأداء، فأنت في المكان الصحيح. اتصل بنا اليوم للبدء في مناقشة مشروعك والحصول على استشارة هندسية مجانية.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>