@model List<TeamMember>

<section id="team" class="team section">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
            <h2>الفريق</h2>
            <p>تصفح فريقنا</p>
        </div>

        <div class="row">
            @* for loop for the team *@
            
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                        <div class="member-img">
                            <img src="~/images/@item.photo" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href="@item.facebookLink"><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>@item.name</h4>
                            <span>@item.job</span>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</section>