@* heading *@

<h2>الرسائل...</h2>
@* <div class="d-flex justify-content-center">
    <a class="btn btn-outline-secondary m-2" href="/Home">اضافة منتج جديد</a>
</div> *@



@model List<message>


<table class="table table-hover">
    <thead>
        <tr class="row-cols-3 table-warning">
            <th class="col-3" scope="col">التاريخ</th>
            <th class="col-3" scope="col"> الراسل</th>
            <th class="col-3" scope="col">الرسالة</th>
            <th style="text-align: center;" class="col-3" scope="col">المزيد</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
                <td style="font-size: 14px;">@item.time</td>
            <td>@item.name</td>
                <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width:50px;">
                    @item.Message
                </td>
            <td class="d-flex justify-content-center" style="text-align: center;">
                <a class="btn btn-primary btn-sm m-1" href="Messages_details/@item.id">التفاصيل</a>
                <a class="btn btn-danger btn-sm m-1" href="@Url.Action("delete_Message", "Admin_Panel", new{ id = item.id, area ="Control_panel" })">حذف</a>
            </td>
        </tr>
        }
    </tbody>
</table>